body{
    margin: 0;
}
.Navigationbar{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 15px 30px;
    justify-content: space-between;
}
.Logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}
.nav-links{
    list-style: none;
    color: rgb(15, 10, 16);
    display: flex;
    gap: 30px;
}
.nav-links a{
     text-decoration: none;
     color: aliceblue;
     size: 16px;
}
.nav-links a:hover{
    color: rgb(98, 98, 215);
}
.Hero-section h1{
    
    font: size 2px;
    text-align: center;
}
.Hero-section p{
    color: rgb(143, 143, 143);
    text-align: center;
}   
 .hero section{
    display: flex;
    justify-content: center;
    align-items: center;
 }   

.hero-image {
   border-radius: 50%;
    object-fit:fill;
    padding: 60px;
    padding-bottom: 0 px;   ;

}
.footer-section {
     text-align: center;
     color: rgb(255, 255, 255);
     background-color: black;
     font-size: 20px; 
     padding: 15PX 20px;
     width: 100%;
}
.section{
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
    height: auto;
    flex-direction: column;
}

.card {
    flex: 1;
    border-radius: 12px;
    background:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 30px;
    border: 20px;
    text-align: center;
    text-justify: distribute;

}
.card button{
    background-color: black;
    color: aliceblue;
    padding: 5px;
    border-radius: 30px;

}
.card button:hover{
    background-color: rgb(52, 52, 52);

}
.Socials{
    text-align: center;
}
.Socials a{
    text-decoration: none;
    color: rgb(61, 43, 194);
    gap:20px;
}